.main {
	display: flex;
	height: 100%;
	width: 200vw;
}

.container {
	margin: 10px;
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	display: flex;
	transition: 0.6s;
}

.slide {
	transform: translateX(-101.6%);
}

.left {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.right {
	width: 50%;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
}

.upload {
	transition: 0.2s;
}

.upload:hover {
	transform: translate(5px, -5px);
	box-shadow: -7px 7px 5px -1px rgba(30, 30, 60, 0.5);
}

.neg {
	outline: solid 200px black;
}

.pd {
	animation: pulse-pd 1s infinite;
}

.pl {
	animation: pulse-pl 1s infinite;
}

@keyframes pulse-pl {
	0% {
	}
	50% {
		text-shadow: 0 0 20px #ffafaf;
	}
	100% {
	}
}
@keyframes pulse-pd {
	0% {
	}
	50% {
		text-shadow: 0 0 10px #ff0000;
	}
	100% {
	}
}
