.footer {
	height: 60px;
	display: flex;
	padding: 0 20px;
}

.day {
	background-color: #90a4ae96;
}

.night {
	background-color: #37474f86;
}

.mail {
	align-self: center;
	padding-top: 5px;
	cursor: pointer;
	transition: 1s ease-in-out;
}
.open {
	transform: translate(1200px, 0px) rotate(360deg);
	/* transform: rotate(360deg); */
}
